# Ejercicios

## Listas

1. Dada la siguiente lista, buscar como acceder al elemento `objetivo`:

In [5]:
lista = [1, 2, ["hola", True, [4, [10, "objetivo"], 9, "manzana"], "hoja",7],49]

In [13]:
lista[2][2][1][1]

'objetivo'

2. Invertir el orden de los elementos de la siguiente lista:

In [18]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [20]:
lista[::-1]

[7, 6, 5, 4, 3, 2, 1]

3. Mostrar únicamente los elementos con posición par de la siguiente lista:

In [115]:
lista = ["a", "b", "c", "d", "e", "f", "g"] # b, d, f

In [117]:
lista[::2]

['a', 'c', 'e', 'g']

4. Agregar el elemento "nuevo" al final de la siguiente lista:

In [119]:
lista = ["hola", 1, 5, True]

In [121]:
lista.append('nuevo')

In [123]:
lista

['hola', 1, 5, True, 'nuevo']

5. Eliminar el lemento `True` de la siguiente lista:

In [32]:
lista = ["hola", 1, 5, True, "nuevo"]

In [34]:
lista.pop(3)
lista

['hola', 1, 5, 'nuevo']

6.Contar la cantidad de veces que aparace el elemento `hola` en la siguiente lista:

In [38]:
lista = ["hola", True, 1, True, 5, True, "nuevo"]

In [40]:
lista.count('hola')

1

7. Crear la lista `longitud` con un bucle for que contenga la cantidad de letras respectivas que contiene cada una de las palabras de la siguiente lista:

In [125]:
lista = ["Manzana","Naranja", "Juan", "Carlos", "Maria", "Sofia", "Jose"]

In [127]:
longitud = [ len(x) for x in lista ]
longitud

[7, 7, 4, 6, 5, 5, 4]

### Extras Listas

8. Crear una función que tome como input una lista de strings y devuelva como output una lista con todos los elementos que no terminen en vocal

In [129]:
lista = ["Manzana","Naranja", "Juan", "Carlos", "Maria", "Sofia", "Jose", "ordenador", "portatil"]

In [131]:
def novocales(lista):
    no_vocal = []
    for x in lista:
        if x[-1] not in 'aeiouAEIOU':
            no_vocal.append(x)
    return(no_vocal)

novocales(lista)

['Juan', 'Carlos', 'ordenador', 'portatil']

In [134]:
def novocales(palabras):
    novocal = [ x for x in palabras if x[-1] not in 'aeiouAEIOU' ]
    return(novocal)

novocales(lista)

['Juan', 'Carlos', 'ordenador', 'portatil']

9. Crear una función que reciba una lista de números y devuelva la suma de todos los números que no sean múltiplos de 3 ni de 5

In [138]:
lista = [9, 10, 29, 30, 15, 24, 80, 81, 43]

In [152]:
def sumanomultiplo(numeros):
    suma = 0
    for n in numeros:
        if n%3 != 0 and n%5 != 0:
            suma = suma + n
    return(suma)

sumanomultiplo(lista)

72

In [160]:
def sumanomultiplo(numeros):
    nomultiplo35 = [ num for num in numeros if num % 3 and num%5 != 0 ]
    return(sum(nomultiplo35))

sumanomultiplo(lista)

72

## Diccionarios

1. Dado el siguiente diccionario

In [2]:
equipo = {
    'nombre': 'Equipo A',
    'jugadores': [
        {'nombre': 'Juan', 'edad': 25},
        {'nombre': 'Ana', 'edad': 22},
        {'nombre': 'Carlos', 'edad': 28}
    ],
    'direccion': "Calle Falsa 123",
    'telefonos': [627849384, 627294837, 627135356],
    'inventario':{
        'balones': 10,
        'conos': 20,
        'uniformes':32
    },
    'alimentos':{
        'manzanas': 12,
        'naranjas': 32,
        'bananas': 16
    }
}

    a. Seleccionar todas las claves

In [4]:
equipo.keys()

dict_keys(['nombre', 'jugadores', 'direccion', 'telefonos', 'inventario', 'alimentos'])

    b. Seleccionar todos los valores

In [6]:
equipo.values()

dict_values(['Equipo A', [{'nombre': 'Juan', 'edad': 25}, {'nombre': 'Ana', 'edad': 22}, {'nombre': 'Carlos', 'edad': 28}], 'Calle Falsa 123', [627849384, 627294837, 627135356], {'balones': 10, 'conos': 20, 'uniformes': 32}, {'manzanas': 12, 'naranjas': 32, 'bananas': 16}])

    c. Buscar el 2do número telefónico

In [12]:
equipo['telefonos'][1]

627294837

    d. Con un bucle for imprimir el tipo de valor que contiene cada clave del diccionario

In [14]:
    for i in equipo.items():
        clave = i[0]
        valor = i[1]
        print(f' {clave} es del tipo {type(valor)} ')

 nombre es del tipo <class 'str'>
 jugadores es del tipo <class 'list'>
 direccion es del tipo <class 'str'>
 telefonos es del tipo <class 'list'>
 inventario es del tipo <class 'dict'>
 alimentos es del tipo <class 'dict'>

In [34]:
    for i in equipo.keys():
        clave = i
        valor = equipo[i]
        print(f' {clave} es del tipo {type(valor)} ')

 nombre es del tipo <class 'str'>
 jugadores es del tipo <class 'list'>
 direccion es del tipo <class 'str'>
 telefonos es del tipo <class 'list'>
 inventario es del tipo <class 'dict'>
 alimentos es del tipo <class 'dict'>

In [ ]:
for clave, valor in equipo.items():
    print(f"{clave} es del tipo {type(valor)}")

    e. Buscar la cantidad de balones que hay en el inventario

In [18]:
equipo['inventario']['balones']

10

    f. Buscar la edad de Ana

In [24]:
equipo['jugadores'][1]['edad']

22

    g. Eliminar el elemento balones de la lista de inventario

In [28]:
equipo['inventario'].pop('balones')

10

In [30]:
equipo

{'nombre': 'Equipo A',
 'jugadores': [{'nombre': 'Juan', 'edad': 25},
  {'nombre': 'Ana', 'edad': 22},
  {'nombre': 'Carlos', 'edad': 28}],
 'direccion': 'Calle Falsa 123',
 'telefonos': [627849384, 627294837, 627135356],
 'inventario': {'conos': 20, 'uniformes': 32},
 'alimentos': {'manzanas': 12, 'naranjas': 32, 'bananas': 16}}

    h. Crear un bucle for que recorra todas las claves que sean diccionarios dentro del diccionario `equipo` y devuelva la suma del total de sus valores en un diccionario. 
    
    El output debe ser `{'inventario': 62, 'alimentos': 60}`

In [32]:
type(equipo)

dict

In [40]:
dicc = {}

for i in equipo:
    clave = i
    valor = equipo[i]
    if type(valor) == dict:
        numeros = valor.values()
        dicc[clave] = sum(numeros)
dicc

{'inventario': 52, 'alimentos': 60}

2. Crear un diccionario que cuente la cantidad de veces que se repite cada letra de las palabras de la siguiente lista:

In [2]:
lista = ["manzana", "naranja", "pera", "ordenador"]

In [ ]:
'm':1 'a':8

In [4]:
diccionario = {}
for palabra in lista:
    for letra in palabra:
        if diccionario.get(letra) == None:
            diccionario[letra] = 1
        else:
            diccionario[letra] += 1
diccionario

{'m': 1,
 'a': 8,
 'n': 5,
 'z': 1,
 'r': 4,
 'j': 1,
 'p': 1,
 'e': 2,
 'o': 2,
 'd': 2}

[]

## Tuplas

1. Ordenar la siguiente tupla del último elemento al segundo elemento (descartar el primero)

In [7]:
tupla = (1, True, 4, "hola", "manzana", False)

In [18]:
tupla[:0:-1]

(False, 'manzana', 'hola', 4, True)

2. Realizar un unpacking de la siguiente tupla en 4 variables.

In [27]:
tupla = (1, True, 4, "hola")

In [29]:
(tup1,tup2,tup3,tup4) = tupla
tup4

'hola'

3. Realizar un unpacking de todos los elementos numericos en variables (numero1, numero2 y numero3) y los strings almacenarlos en una única variable llamada string

In [31]:
tupla = (1, 34, 4, "hola", "manzana")

In [35]:
(num1,num2,num3,*cadena) = tupla
cadena

['hola', 'manzana']

3. Realizar un unpacking de todos los elementos numericos en variables (numero1, numero2 y numero3) y los strings almacenarlos en una única variable llamada string. Descartar todos los elementos que sean booleanos

In [37]:
tupla = (1, True, 4, "hola", "manzana", False, 6)

In [42]:
(num1, _, num2, *cadena, _, num3) = tupla
cadena
num3

6

In [46]:
tupla = (1,2,"no lo quiero", True, 4)

In [50]:
(num1, num2, cadena, _, num3) = tupla
cadena

'no lo quiero'

4. Crear una función llamada zippear que tenga como input:
    - formato de output ("diccionario", "tupla", "lista")
    - tuplas (un parámetro que permita ingresar la cantidad de tuplas que el usuario quiera)
    
    La función va a devolver las tuplas zippeadas y desempaquetadas en el formato indicado por el usuario

5. Utilizar la función creada en el punto 4 para zippear las tuplas `nombres`, `edades` y `alturas` en una tupla. Luego recorrer la misma con un bucle for para imprimir en consola el siguiente texto para cada usuario:

    "El usuario `nombre` tiene `edad` años y mide `altura (m)` metros y `altura (cm)` cm de altura."

In [100]:
nombres = ("Juan", "Maria", "Camila")
edades = (24, 36, 28)
alturas = (163, 178, 157) # alturas en cm