In [2]:
import pandas as pd

# Generación DataFrames

Se desea crear el siguiente DataFrame. Debe generarlo de diferentes maneras

|   | Fruta   | Color     | Precio |
|---|---------|-----------|--------|
| 0 | Manzana | rojo      | 1.5    |
| 1 | Naranja | naranja   | 2.0    |
| 2 | Banana  | amarillo  | 3.4    |
| 3 | Limon   | amarillo  | 2.6    |

1. A partir de un diccionario que tenga en las claves el nombre de las columnas

In [4]:
frutas = {
    "Fruta": ["Manzana", "Naranja", "Banana", "Limon"], 
    "Color": ["rojo", "naranja", "amarillo", "amarillo"],
    "Precio": [1.5, 2, 3.4, 2.6]
}
dfrutas = pd.DataFrame(data = frutas)

In [6]:
claves = dfrutas.keys()  
print(claves)

Index(['Fruta', 'Color', 'Precio'], dtype='object')

In [8]:
dfrutas

     Fruta     Color  Precio
0  Manzana      rojo     1.5
1  Naranja   naranja     2.0
2   Banana  amarillo     3.4
3    Limon  amarillo     2.6

2. A partir de un diccionario que tenga en las claves el indice de las filas (ver from_dict)

In [10]:
dfrutas = pd.DataFrame.from_dict(frutas, orient='index')

In [12]:
dfrutas

              0        1         2         3
Fruta   Manzana  Naranja    Banana     Limon
Color      rojo  naranja  amarillo  amarillo
Precio      1.5        2       3.4       2.6

3. A partir de un diccionario que tenga en las claves el nombre de las columnas, pero que sea un diccionario que tenga además la clave "costo" con los valores (1,1.5,3,2). Por lo que deberá seleccionar únicamente las columnas que le interesen de dicho diccionario

In [70]:
frutas1 = {
    "Fruta": ["Manzana", "Naranja", "Banana", "Limon"], 
    "Color": ["rojo", "naranja", "amarillo", "amarillo"],
    "Precio": [1.5, 2, 3.4, 2.6],
    "Costo": [1,1.5,3,2]
}
dfrutas1 = pd.DataFrame(
    data = frutas1, 
    columns = ['Fruta','Color','Precio']
)

In [67]:
dfrutas1

     Fruta     Color  Precio
0  Manzana      rojo     1.5
1  Naranja   naranja     2.0
2   Banana  amarillo     3.4
3    Limon  amarillo     2.6

4. A partir de una lista

In [74]:
dfrutas2 = pd.DataFrame(
    data = [['Manzana', 'rojo', 1.5, 1], ['Naranja', 'naranja', 2, 1.5], ['Banana', 'amarillo', 3.4, 3], ['Limon', 'amarillo', 2.6, 2]],
    columns = ['Fruta', 'Color', 'Precio', 'Costo']
)
dfrutas2

     Fruta     Color  Precio  Costo
0  Manzana      rojo     1.5    1.0
1  Naranja   naranja     2.0    1.5
2   Banana  amarillo     3.4    3.0
3    Limon  amarillo     2.6    2.0

5. A partir de una lista de diccionarios

In [76]:
frutas = [
    {'Fruta': 'Manzana', 'Color': 'rojo', 'Precio': 1.5,  'Costo': 1.0},
    {'Fruta': 'Naranja', 'Color': 'naranja', 'Precio': 2.0,   'Costo': 1.5},
    {'Fruta': 'Banana', 'Color': 'amarillo', 'Precio': 3.4,  'Costo': 3.0},
    {'Fruta': 'Limon', 'Color': 'amarillo', 'Precio': 2.6, 'Costo': 2.0}
]

dfrutas3 = pd.DataFrame(data = frutas)
dfrutas3

     Fruta     Color  Precio  Costo
0  Manzana      rojo     1.5    1.0
1  Naranja   naranja     2.0    1.5
2   Banana  amarillo     3.4    3.0
3    Limon  amarillo     2.6    2.0

6. A partir de una lista de tuplas generada con la función zip

In [22]:

Fruta = ["Manzana", "Naranja", "Banana", "Limon"]
Color = ["rojo", "naranja", "amarillo", "amarillo"]
Precio = [1.5, 2, 3.4, 2.6]
Costo = [1,1.5,3,2]

lfruta = list(zip(Fruta, Color, Precio, Costo))
lfruta

[('Manzana', 'rojo', 1.5, 1),
 ('Naranja', 'naranja', 2, 1.5),
 ('Banana', 'amarillo', 3.4, 3),
 ('Limon', 'amarillo', 2.6, 2)]

In [79]:
dfrutas4 = pd.DataFrame(
    lfruta, 
    columns = ["Fruta", "Color", "Precio", "Costo"])
dfrutas4

     Fruta     Color  Precio  Costo
0  Manzana      rojo     1.5    1.0
1  Naranja   naranja     2.0    1.5
2   Banana  amarillo     3.4    3.0
3    Limon  amarillo     2.6    2.0

# Analisis de DataFrame

Todas las preguntas serán en base al dataframe data

In [82]:
# Base de datos de instituciones educativas en colombia
data = pd.read_csv('https://www.datos.gov.co/api/views/qijw-htwa/rows.csv?accessType=DOWNLOAD')

1. Mostrar las primeras 5 filas del DataFrame

In [84]:
data.head(5)

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co

2. Mostrar las últimas 8 filas del DataFrame

In [30]:
data.tail(8)

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
2396,2016,BOGOTA,JARD INF MARIA MARGARITA ...,URBANA,CL 4 16 01,3338290,ELIZABETH TORRES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2397,2016,BOGOTA,LIC PEQUEÑA COMPAÑÍA DE MARRUECOS ...,URBANA,CLL. 49G NO. 5 M 11 SUR,2051949,ALBA LUCIA JEREZ SAENZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2398,2016,BOGOTA,JARD INF EL NOGAL,URBANA,KR 34 183 10,2388980,SANDRA TORRES CORREAL,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,NaN
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

3. Mostrar cantidad de filas y columnas del dataframe

In [32]:
data.shape

(2404, 30)

4. Seleccionar la columna "zona" del Dataframe como un DataFrame, no como Serie.

In [90]:
dfzona = pd.DataFrame(data['zona'])

In [94]:
data[['zona']]
data.loc[:,'zona']

        zona
0     URBANA
1     URBANA
2     URBANA
3     URBANA
4     URBANA
...      ...
2399  URBANA
2400  URBANA
2401  URBANA
2402  URBANA
2403  URBANA

[2404 rows x 1 columns]

In [92]:
dfzona

        zona
0     URBANA
1     URBANA
2     URBANA
3     URBANA
4     URBANA
...      ...
2399  URBANA
2400  URBANA
2401  URBANA
2402  URBANA
2403  URBANA

[2404 rows x 1 columns]

In [38]:
print(type(dfzona))

<class 'pandas.core.frame.DataFrame'>

5. Seleccionar la columna "zona" del Dataframe como una Serie.

In [86]:
szona = data['zona']
szona

0       URBANA
1       URBANA
2       URBANA
3       URBANA
4       URBANA
         ...
2399    URBANA
2400    URBANA
2401    URBANA
2402    URBANA
2403    URBANA
Name: zona, Length: 2404, dtype: object

In [88]:
print(type(szona))

<class 'pandas.core.series.Series'>

6. Cambiar el nombre del índice 3 para que su valor sea obs4

In [44]:
data.index = [ data.index[i] if i != 3 else 'obs4' for i in range(len(data)) ]
data

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
obs4,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

In [ ]:
data.rename(
    index = {3:'obs4'},
    columns = {'año': 'Year'}
)

7. Seleccionar las columnas secretaria y zona (como indice y como string hacer el subsetting)

In [46]:
data[['secretaria','zona']]

     secretaria    zona
0        BOGOTA  URBANA
1        BOGOTA  URBANA
2        BOGOTA  URBANA
obs4     BOGOTA  URBANA
4        BOGOTA  URBANA
...         ...     ...
2399     BOGOTA  URBANA
2400     BOGOTA  URBANA
2401     BOGOTA  URBANA
2402     BOGOTA  URBANA
2403     BOGOTA  URBANA

[2404 rows x 2 columns]

In [209]:
data.loc[:,['secretaria','zona']]

     secretaria    zona
0        BOGOTA  URBANA
1        BOGOTA  URBANA
2        BOGOTA  URBANA
obs4     BOGOTA  URBANA
4        BOGOTA  URBANA
...         ...     ...
2399     BOGOTA  URBANA
2400     BOGOTA  URBANA
2401     BOGOTA  URBANA
2402     BOGOTA  URBANA
2403     BOGOTA  URBANA

[2404 rows x 2 columns]

In [48]:
data[data.columns[[1,3]]]

     secretaria    zona
0        BOGOTA  URBANA
1        BOGOTA  URBANA
2        BOGOTA  URBANA
obs4     BOGOTA  URBANA
4        BOGOTA  URBANA
...         ...     ...
2399     BOGOTA  URBANA
2400     BOGOTA  URBANA
2401     BOGOTA  URBANA
2402     BOGOTA  URBANA
2403     BOGOTA  URBANA

[2404 rows x 2 columns]

In [196]:
data.iloc[:,[1,3]]

     secretaria    zona
0        BOGOTA  URBANA
1        BOGOTA  URBANA
2        BOGOTA  URBANA
obs4     BOGOTA  URBANA
4        BOGOTA  URBANA
...         ...     ...
2399     BOGOTA  URBANA
2400     BOGOTA  URBANA
2401     BOGOTA  URBANA
2402     BOGOTA  URBANA
2403     BOGOTA  URBANA

[2404 rows x 2 columns]

8. Seleccionar de la fila 10 a la 15 y las columnas secretaria y zona

In [50]:
data.loc[10:15,['secretaria','zona']]

   secretaria    zona
10     BOGOTA  URBANA
11     BOGOTA  URBANA
12     BOGOTA  URBANA
13     BOGOTA  URBANA
14     BOGOTA   RURAL
15     BOGOTA  URBANA

In [99]:
data.iloc[10:16,[1,3]]

   secretaria    zona
10     BOGOTA  URBANA
11     BOGOTA  URBANA
12     BOGOTA  URBANA
13     BOGOTA  URBANA
14     BOGOTA   RURAL
15     BOGOTA  URBANA

9. Listar todas las columnas del dataframe

In [169]:
data.columns

Index(['año', 'secretaria', 'nombreestablecimiento', 'zona', 'direccion',
       'telefono', 'nombre_Rector', 'tipo_Establecimiento', 'etnias', 'sector',
       'genero', 'niveles', 'jornadas', 'caracter', 'especialidad', 'grados',
       'modelos_Educativos', 'capacidades_Excepcionales', 'discapacidades',
       'idiomas', 'numero_de_Sedes', 'estado', 'prestador_de_Servicio',
       'propiedad_Planta_Fisica', 'resguardo', 'matricula_Contratada',
       'calendario', 'internado', 'estrato_Socio_Economico',
       'correo_Electronico'],
      dtype='object')

10. Renombrar los valores de la columna tipo_Establecimiento (buscar cuales son todos los valores únicos) para que los nombres sean 'Centro' e 'Institucion' según corresponda

In [52]:
data1 = data.copy()
data1['tipo_Establecimiento'] = data1['tipo_Establecimiento'].replace({
    'CENTRO EDUCATIVO': 'Centro',
    'INSTITUCION EDUCATIVA': 'Institucion'
})
data1['tipo_Establecimiento']

0            Centro
1            Centro
2            Centro
obs4    Institucion
4       Institucion
           ...
2399         Centro
2400         Centro
2401         Centro
2402    Institucion
2403         Centro
Name: tipo_Establecimiento, Length: 2404, dtype: object

In [102]:
data1.tipo_Establecimiento.unique()

array(['Centro', 'Institucion'], dtype=object)

In [ ]:
data.tipo_Establecimiento.replace({
    'CENTRO EDUCATIVO': 'Centro',
    'INSTITUCION EDUCATIVA': 'Institucion'
})

11. Eliminar la columna resguardo del DataFrame

In [54]:
data1.drop(
    columns = 'resguardo',
    inplace = True
)
data1

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,idiomas,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,Centro,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,academiareal2005@hotmail.com
obs4,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,Institucion,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,Institucion,NaN,NaN,...,NaN,1,NaN,COOPERATIVO,COOPERATIVO,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,Centro,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,Centro,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,Institucion,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,Centro,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN

12. Contar cuantos valores únicos hay en cada columna con la función nunique

In [56]:
data1.nunique()

año                             1
secretaria                      1
nombreestablecimiento        2387
zona                            3
direccion                    2377
telefono                     2328
nombre_Rector                2354
tipo_Establecimiento            2
etnias                         11
sector                          0
genero                          0
niveles                        18
jornadas                       41
caracter                        0
especialidad                   21
grados                        180
modelos_Educativos             32
capacidades_Excepcionales       4
discapacidades                124
idiomas                         7
numero_de_Sedes                 7
estado                          0
prestador_de_Servicio          10
propiedad_Planta_Fisica        10
matricula_Contratada            2
calendario                      3
internado                       0
estrato_Socio_Economico         2
correo_Electronico           1961
dtype: int64

13. Mostrar un dataframe con los Rectores que esten en más de una institución

In [58]:
duplicados = data1[data1.duplicated('nombre_Rector', keep=False)]
duplicados

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,idiomas,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
55,2016,BOGOTA,C.E. DE ADULTOS ASED,URBANA,AC 26 69 96,2630227 -- 4103066,ERICK ISRAEL ARIZA RONCANCIO,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,asedacademica@gmail.com
69,2016,BOGOTA,COL DE BTO PATRIA ...,URBANA,CL 100 11 00,2147327,CLAUDIA YANIVE PRIETO CASTILLO,Institucion,NaN,NaN,...,NaN,1,NaN,REGIMEN ESPECIAL,REGIMEN ESPECIAL,NO,A,NaN,NaN,bachilleratopatria@hotmail.com ...
117,2016,BOGOTA,COLEGIO AGUAS CLARAS (IED),URBANA,CL 14 SUR 22 01 ESTE,3283369 -- 3332857,JULIO ALFONSO ROMERO RUIZ,Centro,NaN,NaN,...,NaN,1,NaN,OFICIAL,OFICIAL,NO,A,NaN,NaN,cedaguasclaras4@redp.edu.co
152,2016,BOGOTA,COLEGIO RUR CHIZACA (CED),RURAL,KM 24 VIA SAN JUAN DE SUMAPAZ,6392114,JULIO ABEL MORENO CAMACHO,Centro,NaN,NaN,...,NaN,1,NaN,OFICIAL,OFICIAL,NO,A,NaN,NaN,cedchizaca5@redp.edu.co
166,2016,BOGOTA,COLEGIO RUR EL CURUBITAL (CED),RURAL,KM 15 VIA USME SAN JUAN DE SUMAPAZ,6392273 -- 6392005 -- 6392094,JAIRO ALONSO RAMIREZ CASTELLANOS,Centro,NaN,NaN,...,NaN,1,NaN,OFICIAL,OFICIAL,NO,A,NaN,NaN,cedelcurubital5@redp.edu.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2226,2016,BOGOTA,COLEGIO PSICOPEDAGOGICO MENTOR,URBANA,CL 56 B SUR 79 B 17,7807593,YENIFFER ANDREA SALAMANCA,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2236,2016,BOGOTA,COLEGIO TECNISISTEMAS,URBANA,CL 37 SUR 76 A 41,NaN,ERNESTO PARRA HERRERA,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2240,2016,BOGOTA,ESCUELA DE GENIOS,URBANA,CLL. 38A NO. 76A-46,NaN,RIVERO MAZZO MARIA NELLY,Centro,NaN,NaN,...,INGLÉS,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN
2290,2016,BOGOTA,COLEGIO SUPERIOR SAN CRISTOBAL,URBANA,CL 39 SUR 6 34 ESTE,NaN,ADRIANA CORREA MANTILLA,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,OTRO,NaN,NaN,NaN
2319,2016,BOGOTA,COL ADOLFO LEON GOMEZ,URBANA,CR. 78A NO. 64D-74 SUR,7755492 / 7760010,NO INFORMACION,Centro,NaN,NaN,...,NaN,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO,A,NaN,NaN,NaN

In [110]:
filtro = data1.duplicated('nombre_Rector')
data1.loc[filtro,'nombre_Rector'].unique()

array(['JAIRO ALONSO RAMIREZ CASTELLANOS', 'JULIO ALFONSO ROMERO RUIZ',
       'JULIO ABEL MORENO CAMACHO', 'RUTH MARIELA SANABRIA TAUTIVA',
       'JOSE BENIGNO MARTIN VILLAMIL', 'JORGE ROBERTO AMAYA PAVA',
       'GUSTAVO MENDEZ HERNANDEZ', 'ELICIO DE JESUS LOPEZ FLECHAS',
       'FERNANDO ANTONIO VENEGAS MACIAS', 'MARTHA CECILIA JIMENEZ PEÑA',
       'ERNESTO PARRA HERRERA', 'FELIX EDINSON ANGEL ACUÑA',
       'VICTOR MANUEL NEIRA RODRIGUEZ', 'MARIA RANGEL DE RIOS',
       'MAURICIO SANABRIA GONZALEZ', 'MARTHA PATRICIA PEREZ HERRERA',
       'ELIANA ELISA GUZMAN GARCIA', 'ERICK ISRAEL ARIZA RONCANCIO',
       'CLAUDIA YANIVE PRIETO CASTILLO', 'MARIA ISABEL ALVAREZ ISAZA',
       'MANUEL GONZALO SEGURA BEJARANO', 'GRACIELA RODRIGUEZ POVEDA',
       'HNA CONCEPCION AMEZQUITA DIAZ', 'ALBENIO BOLIVAR MONROY',
       'LUZ STELLA CRUZ PAVA', 'LUIS FERNANDO MURCIA ANGARITA',
       'ALEXANDER AVILA ROMERO', 'EDGAR LIBARDO NOVOA JIMENEZ',
       'WILLIAM SANCHEZ CORREDOR.', 'ANDRES LEONARDO SALAZAR WHITE',
       'JOSE NELSON AREVALO CASTELLANOS', 'PEDRO PASTOR CARDENAS',
       'NO INFORMACION', 'YENIFFER ANDREA SALAMANCA',
       'RIVERO MAZZO MARIA NELLY', 'ADRIANA CORREA MANTILLA'],
      dtype=object)

#

# 14. Contar cuantos registros no nulos hay en cada fila y almacenarlo en un diccionario que tenga de clave el indice de la fila

In [134]:
non_null_counts = data.notnull().sum(axis="columns")
non_null_counts.to_dict()

dicc = {}
filas = data.shape[0]

for i in range(0, filas):
    no_nulos = data.iloc[i,:].notnull().sum()
    dicc[i] = no_nulos

dicc

{0: 20,
 1: 19,
 2: 19,
 3: 21,
 4: 20,
 5: 22,
 6: 20,
 7: 21,
 8: 21,
 9: 21,
 10: 20,
 11: 21,
 12: 20,
 13: 21,
 14: 20,
 15: 20,
 16: 20,
 17: 19,
 18: 21,
 19: 20,
 20: 20,
 21: 19,
 22: 19,
 23: 20,
 24: 20,
 25: 19,
 26: 19,
 27: 19,
 28: 19,
 29: 21,
 30: 19,
 31: 19,
 32: 20,
 33: 20,
 34: 20,
 35: 22,
 36: 21,
 37: 20,
 38: 19,
 39: 19,
 40: 21,
 41: 20,
 42: 21,
 43: 21,
 44: 19,
 45: 19,
 46: 20,
 47: 21,
 48: 20,
 49: 19,
 50: 22,
 51: 20,
 52: 21,
 53: 22,
 54: 20,
 55: 20,
 56: 21,
 57: 21,
 58: 21,
 59: 20,
 60: 21,
 61: 20,
 62: 21,
 63: 20,
 64: 19,
 65: 20,
 66: 17,
 67: 20,
 68: 20,
 69: 20,
 70: 20,
 71: 19,
 72: 21,
 73: 20,
 74: 20,
 75: 20,
 76: 20,
 77: 19,
 78: 20,
 79: 20,
 80: 20,
 81: 19,
 82: 20,
 83: 20,
 84: 22,
 85: 20,
 86: 21,
 87: 21,
 88: 19,
 89: 21,
 90: 19,
 91: 21,
 92: 21,
 93: 21,
 94: 20,
 95: 21,
 96: 21,
 97: 20,
 98: 20,
 99: 20,
 100: 20,
 101: 19,
 102: 19,
 103: 20,
 104: 20,
 105: 19,
 106: 21,
 107: 21,
 108: 21,
 109: 20,
 110: 21,
 111: 21,
 112: 20,
 113: 21,
 114: 21,
 115: 20,
 116: 20,
 117: 19,
 118: 20,
 119: 20,
 120: 21,
 121: 20,
 122: 20,
 123: 20,
 124: 19,
 125: 20,
 126: 20,
 127: 20,
 128: 21,
 129: 20,
 130: 20,
 131: 20,
 132: 20,
 133: 20,
 134: 21,
 135: 20,
 136: 20,
 137: 20,
 138: 20,
 139: 20,
 140: 21,
 141: 20,
 142: 20,
 143: 20,
 144: 20,
 145: 20,
 146: 20,
 147: 20,
 148: 20,
 149: 21,
 150: 20,
 151: 20,
 152: 19,
 153: 20,
 154: 21,
 155: 21,
 156: 20,
 157: 19,
 158: 20,
 159: 20,
 160: 20,
 161: 20,
 162: 20,
 163: 20,
 164: 20,
 165: 20,
 166: 19,
 167: 20,
 168: 19,
 169: 20,
 170: 20,
 171: 20,
 172: 20,
 173: 20,
 174: 20,
 175: 21,
 176: 21,
 177: 20,
 178: 20,
 179: 20,
 180: 21,
 181: 21,
 182: 20,
 183: 21,
 184: 21,
 185: 19,
 186: 21,
 187: 20,
 188: 20,
 189: 20,
 190: 20,
 191: 20,
 192: 20,
 193: 20,
 194: 20,
 195: 20,
 196: 21,
 197: 20,
 198: 19,
 199: 20,
 200: 21,
 201: 20,
 202: 20,
 203: 22,
 204: 19,
 205: 20,
 206: 20,
 207: 20,
 208: 19,
 209: 20,
 210: 19,
 211: 20,
 212: 20,
 213: 21,
 214: 19,
 215: 19,
 216: 20,
 217: 19,
 218: 19,
 219: 21,
 220: 20,
 221: 19,
 222: 19,
 223: 21,
 224: 20,
 225: 21,
 226: 21,
 227: 19,
 228: 19,
 229: 21,
 230: 20,
 231: 20,
 232: 21,
 233: 20,
 234: 20,
 235: 20,
 236: 20,
 237: 20,
 238: 20,
 239: 21,
 240: 20,
 241: 21,
 242: 21,
 243: 21,
 244: 19,
 245: 20,
 246: 20,
 247: 21,
 248: 20,
 249: 20,
 250: 20,
 251: 21,
 252: 20,
 253: 19,
 254: 22,
 255: 22,
 256: 19,
 257: 20,
 258: 20,
 259: 21,
 260: 20,
 261: 20,
 262: 20,
 263: 20,
 264: 20,
 265: 20,
 266: 21,
 267: 21,
 268: 20,
 269: 21,
 270: 20,
 271: 20,
 272: 20,
 273: 20,
 274: 20,
 275: 20,
 276: 20,
 277: 20,
 278: 20,
 279: 20,
 280: 20,
 281: 20,
 282: 21,
 283: 20,
 284: 20,
 285: 20,
 286: 20,
 287: 21,
 288: 20,
 289: 18,
 290: 20,
 291: 20,
 292: 20,
 293: 20,
 294: 20,
 295: 20,
 296: 20,
 297: 20,
 298: 19,
 299: 21,
 300: 21,
 301: 21,
 302: 21,
 303: 20,
 304: 21,
 305: 20,
 306: 20,
 307: 19,
 308: 20,
 309: 21,
 310: 20,
 311: 20,
 312: 20,
 313: 20,
 314: 22,
 315: 19,
 316: 20,
 317: 20,
 318: 20,
 319: 20,
 320: 21,
 321: 19,
 322: 20,
 323: 21,
 324: 20,
 325: 21,
 326: 20,
 327: 20,
 328: 20,
 329: 19,
 330: 21,
 331: 22,
 332: 21,
 333: 20,
 334: 21,
 335: 20,
 336: 19,
 337: 19,
 338: 20,
 339: 19,
 340: 20,
 341: 20,
 342: 16,
 343: 20,
 344: 20,
 345: 20,
 346: 20,
 347: 20,
 348: 20,
 349: 21,
 350: 22,
 351: 20,
 352: 19,
 353: 21,
 354: 20,
 355: 21,
 356: 21,
 357: 20,
 358: 20,
 359: 19,
 360: 21,
 361: 21,
 362: 19,
 363: 20,
 364: 20,
 365: 19,
 366: 20,
 367: 21,
 368: 21,
 369: 20,
 370: 19,
 371: 20,
 372: 21,
 373: 21,
 374: 21,
 375: 20,
 376: 20,
 377: 20,
 378: 21,
 379: 20,
 380: 20,
 381: 21,
 382: 20,
 383: 19,
 384: 20,
 385: 21,
 386: 19,
 387: 21,
 388: 19,
 389: 21,
 390: 21,
 391: 21,
 392: 20,
 393: 21,
 394: 21,
 395: 20,
 396: 21,
 397: 20,
 398: 20,
 399: 20,
 400: 20,
 401: 20,
 402: 21,
 403: 20,
 404: 20,
 405: 21,
 406: 20,
 407: 20,
 408: 21,
 409: 20,
 410: 20,
 411: 20,
 412: 21,
 413: 20,
 414: 20,
 415: 20,
 416: 20,
 417: 21,
 418: 20,
 419: 20,
 420: 20,
 421: 20,
 422: 21,
 423: 20,
 424: 20,
 425: 20,
 426: 20,
 427: 21,
 428: 20,
 429: 20,
 430: 21,
 431: 20,
 432: 21,
 433: 21,
 434: 21,
 435: 21,
 436: 20,
 437: 20,
 438: 20,
 439: 20,
 440: 20,
 441: 20,
 442: 20,
 443: 21,
 444: 20,
 445: 20,
 446: 20,
 447: 21,
 448: 20,
 449: 20,
 450: 20,
 451: 20,
 452: 20,
 453: 21,
 454: 20,
 455: 20,
 456: 20,
 457: 21,
 458: 20,
 459: 20,
 460: 21,
 461: 20,
 462: 20,
 463: 20,
 464: 20,
 465: 21,
 466: 21,
 467: 21,
 468: 20,
 469: 21,
 470: 20,
 471: 23,
 472: 21,
 473: 19,
 474: 20,
 475: 21,
 476: 20,
 477: 19,
 478: 19,
 479: 21,
 480: 19,
 481: 22,
 482: 20,
 483: 21,
 484: 21,
 485: 20,
 486: 21,
 487: 20,
 488: 22,
 489: 20,
 490: 19,
 491: 22,
 492: 20,
 493: 20,
 494: 21,
 495: 19,
 496: 21,
 497: 21,
 498: 20,
 499: 19,
 500: 20,
 501: 21,
 502: 19,
 503: 19,
 504: 21,
 505: 19,
 506: 20,
 507: 22,
 508: 19,
 509: 20,
 510: 19,
 511: 20,
 512: 21,
 513: 20,
 514: 20,
 515: 21,
 516: 20,
 517: 19,
 518: 20,
 519: 19,
 520: 20,
 521: 19,
 522: 19,
 523: 21,
 524: 19,
 525: 21,
 526: 21,
 527: 20,
 528: 20,
 529: 22,
 530: 21,
 531: 21,
 532: 21,
 533: 22,
 534: 20,
 535: 21,
 536: 21,
 537: 22,
 538: 22,
 539: 21,
 540: 21,
 541: 20,
 542: 23,
 543: 21,
 544: 19,
 545: 20,
 546: 19,
 547: 20,
 548: 20,
 549: 22,
 550: 20,
 551: 21,
 552: 20,
 553: 20,
 554: 20,
 555: 22,
 556: 19,
 557: 20,
 558: 21,
 559: 20,
 560: 20,
 561: 21,
 562: 20,
 563: 21,
 564: 19,
 565: 20,
 566: 20,
 567: 22,
 568: 19,
 569: 21,
 570: 20,
 571: 20,
 572: 19,
 573: 20,
 574: 20,
 575: 20,
 576: 19,
 577: 22,
 578: 20,
 579: 21,
 580: 20,
 581: 21,
 582: 20,
 583: 19,
 584: 22,
 585: 21,
 586: 21,
 587: 20,
 588: 21,
 589: 19,
 590: 19,
 591: 20,
 592: 20,
 593: 20,
 594: 20,
 595: 20,
 596: 20,
 597: 20,
 598: 19,
 599: 20,
 600: 20,
 601: 19,
 602: 20,
 603: 21,
 604: 20,
 605: 21,
 606: 20,
 607: 19,
 608: 20,
 609: 21,
 610: 20,
 611: 21,
 612: 20,
 613: 20,
 614: 19,
 615: 20,
 616: 22,
 617: 20,
 618: 22,
 619: 21,
 620: 20,
 621: 19,
 622: 21,
 623: 20,
 624: 21,
 625: 19,
 626: 22,
 627: 21,
 628: 20,
 629: 19,
 630: 19,
 631: 21,
 632: 22,
 633: 20,
 634: 20,
 635: 19,
 636: 20,
 637: 21,
 638: 21,
 639: 20,
 640: 20,
 641: 22,
 642: 21,
 643: 20,
 644: 20,
 645: 20,
 646: 20,
 647: 20,
 648: 21,
 649: 21,
 650: 20,
 651: 21,
 652: 19,
 653: 21,
 654: 21,
 655: 22,
 656: 20,
 657: 20,
 658: 21,
 659: 21,
 660: 19,
 661: 22,
 662: 20,
 663: 19,
 664: 21,
 665: 20,
 666: 20,
 667: 20,
 668: 20,
 669: 20,
 670: 22,
 671: 20,
 672: 20,
 673: 21,
 674: 20,
 675: 20,
 676: 20,
 677: 20,
 678: 20,
 679: 20,
 680: 20,
 681: 20,
 682: 22,
 683: 19,
 684: 21,
 685: 21,
 686: 20,
 687: 19,
 688: 20,
 689: 20,
 690: 21,
 691: 20,
 692: 21,
 693: 19,
 694: 21,
 695: 20,
 696: 20,
 697: 20,
 698: 21,
 699: 21,
 700: 20,
 701: 20,
 702: 20,
 703: 21,
 704: 21,
 705: 20,
 706: 20,
 707: 21,
 708: 19,
 709: 21,
 710: 20,
 711: 20,
 712: 20,
 713: 20,
 714: 21,
 715: 21,
 716: 21,
 717: 21,
 718: 20,
 719: 21,
 720: 20,
 721: 20,
 722: 20,
 723: 21,
 724: 22,
 725: 20,
 726: 22,
 727: 20,
 728: 20,
 729: 21,
 730: 20,
 731: 20,
 732: 20,
 733: 20,
 734: 21,
 735: 20,
 736: 22,
 737: 21,
 738: 20,
 739: 20,
 740: 19,
 741: 19,
 742: 20,
 743: 21,
 744: 20,
 745: 20,
 746: 20,
 747: 21,
 748: 20,
 749: 20,
 750: 20,
 751: 20,
 752: 19,
 753: 22,
 754: 21,
 755: 20,
 756: 21,
 757: 20,
 758: 22,
 759: 20,
 760: 20,
 761: 21,
 762: 20,
 763: 20,
 764: 20,
 765: 19,
 766: 22,
 767: 20,
 768: 19,
 769: 19,
 770: 20,
 771: 20,
 772: 21,
 773: 22,
 774: 19,
 775: 20,
 776: 20,
 777: 19,
 778: 20,
 779: 21,
 780: 20,
 781: 20,
 782: 19,
 783: 19,
 784: 20,
 785: 18,
 786: 21,
 787: 20,
 788: 21,
 789: 20,
 790: 20,
 791: 20,
 792: 19,
 793: 21,
 794: 21,
 795: 20,
 796: 22,
 797: 20,
 798: 20,
 799: 20,
 800: 16,
 801: 20,
 802: 20,
 803: 21,
 804: 20,
 805: 22,
 806: 19,
 807: 21,
 808: 20,
 809: 20,
 810: 21,
 811: 20,
 812: 19,
 813: 20,
 814: 21,
 815: 19,
 816: 21,
 817: 21,
 818: 20,
 819: 19,
 820: 19,
 821: 19,
 822: 21,
 823: 20,
 824: 19,
 825: 21,
 826: 21,
 827: 21,
 828: 21,
 829: 21,
 830: 20,
 831: 20,
 832: 20,
 833: 20,
 834: 20,
 835: 19,
 836: 20,
 837: 20,
 838: 20,
 839: 20,
 840: 20,
 841: 19,
 842: 19,
 843: 20,
 844: 22,
 845: 22,
 846: 19,
 847: 20,
 848: 20,
 849: 19,
 850: 19,
 851: 20,
 852: 20,
 853: 22,
 854: 19,
 855: 19,
 856: 20,
 857: 19,
 858: 20,
 859: 19,
 860: 21,
 861: 22,
 862: 20,
 863: 21,
 864: 21,
 865: 20,
 866: 21,
 867: 19,
 868: 21,
 869: 19,
 870: 21,
 871: 22,
 872: 19,
 873: 21,
 874: 20,
 875: 21,
 876: 19,
 877: 20,
 878: 19,
 879: 20,
 880: 22,
 881: 20,
 882: 20,
 883: 20,
 884: 20,
 885: 20,
 886: 20,
 887: 20,
 888: 20,
 889: 23,
 890: 20,
 891: 21,
 892: 20,
 893: 20,
 894: 19,
 895: 20,
 896: 20,
 897: 20,
 898: 21,
 899: 20,
 900: 21,
 901: 20,
 902: 20,
 903: 21,
 904: 20,
 905: 20,
 906: 20,
 907: 20,
 908: 20,
 909: 20,
 910: 21,
 911: 20,
 912: 19,
 913: 18,
 914: 21,
 915: 20,
 916: 20,
 917: 20,
 918: 20,
 919: 20,
 920: 20,
 921: 20,
 922: 20,
 923: 20,
 924: 20,
 925: 20,
 926: 20,
 927: 20,
 928: 20,
 929: 20,
 930: 20,
 931: 20,
 932: 20,
 933: 20,
 934: 20,
 935: 20,
 936: 20,
 937: 19,
 938: 20,
 939: 20,
 940: 19,
 941: 20,
 942: 20,
 943: 21,
 944: 20,
 945: 22,
 946: 21,
 947: 19,
 948: 21,
 949: 21,
 950: 20,
 951: 21,
 952: 20,
 953: 20,
 954: 20,
 955: 20,
 956: 21,
 957: 20,
 958: 20,
 959: 20,
 960: 19,
 961: 20,
 962: 21,
 963: 19,
 964: 20,
 965: 19,
 966: 19,
 967: 15,
 968: 20,
 969: 21,
 970: 21,
 971: 20,
 972: 21,
 973: 20,
 974: 20,
 975: 21,
 976: 20,
 977: 20,
 978: 22,
 979: 21,
 980: 21,
 981: 21,
 982: 21,
 983: 21,
 984: 17,
 985: 21,
 986: 22,
 987: 18,
 988: 21,
 989: 20,
 990: 20,
 991: 21,
 992: 21,
 993: 20,
 994: 21,
 995: 19,
 996: 20,
 997: 19,
 998: 20,
 999: 20,
 ...}

In [113]:
dicc = {}
for indice, fila in data.iterrows():
    nulos = data.loc[indice,].notnull()
    dicc[indice] = sum(nulos)
print(dicc)

15. Contar cuantos registros nulos hay en cada columna y la cantidad de valores únicos en la misma, y almacenarlo en un diccionario que tenga de clave el indice el nombre de la columna

El output debería ser el siguiente:
``` sql
{'año': [0, 1],
 'secretaria': [0, 1],
 'nombreestablecimiento': [0, 2387],
 'zona': [0, 3],
 'direccion': [0, 2377],
 'telefono': [62, 2329],
 'nombre_Rector': [0, 2354],
 'tipo_Establecimiento': [0, 2],
 'etnias': [2333, 12],
 'sector': [2404, 1],
 'genero': [2404, 1],
 'niveles': [16, 19],
 'jornadas': [13, 42],
 'caracter': [2404, 1],
 'especialidad': [1110, 22],
 'grados': [16, 181],
 'modelos_Educativos': [38, 33],
 'capacidades_Excepcionales': [2394, 5],
 'discapacidades': [1890, 125],
 'idiomas': [1461, 8],
 'numero_de_Sedes': [0, 7],
 'estado': [2404, 1],
 'prestador_de_Servicio': [0, 10],
 'propiedad_Planta_Fisica': [0, 10],
 'resguardo': [0, 2],
 'matricula_Contratada': [0, 2],
 'calendario': [0, 3],
 'internado': [2404, 1],
 'estrato_Socio_Economico': [2400, 3],
 'correo_Electronico': [428, 1962]}
```

In [138]:
dicc = {}  #Contando nulos por columna y lo guardo en diccionario
columnas = data.shape[1]

for i in range(0, columnas):
    nulos = data.iloc[:,i].isnull().sum()
    unicos = len(data.iloc[:,i].unique())
    dicc[i] = [nulos,unicos]

dicc

{0: [0, 1],
 1: [0, 1],
 2: [0, 2387],
 3: [0, 3],
 4: [0, 2377],
 5: [62, 2329],
 6: [0, 2354],
 7: [0, 2],
 8: [2333, 12],
 9: [2404, 1],
 10: [2404, 1],
 11: [16, 19],
 12: [13, 42],
 13: [2404, 1],
 14: [1110, 22],
 15: [16, 181],
 16: [38, 33],
 17: [2394, 5],
 18: [1890, 125],
 19: [1461, 8],
 20: [0, 7],
 21: [2404, 1],
 22: [0, 10],
 23: [0, 10],
 24: [0, 2],
 25: [0, 2],
 26: [0, 3],
 27: [2404, 1],
 28: [2400, 3],
 29: [428, 1962]}

In [140]:
dicc = {}

for i in data.columns:
    nulos = data.loc[:, i].isnull().sum()
    unicos = len(data.loc[:, i].unique())
    dicc[i] = [nulos, unicos]

dicc

{'año': [0, 1],
 'secretaria': [0, 1],
 'nombreestablecimiento': [0, 2387],
 'zona': [0, 3],
 'direccion': [0, 2377],
 'telefono': [62, 2329],
 'nombre_Rector': [0, 2354],
 'tipo_Establecimiento': [0, 2],
 'etnias': [2333, 12],
 'sector': [2404, 1],
 'genero': [2404, 1],
 'niveles': [16, 19],
 'jornadas': [13, 42],
 'caracter': [2404, 1],
 'especialidad': [1110, 22],
 'grados': [16, 181],
 'modelos_Educativos': [38, 33],
 'capacidades_Excepcionales': [2394, 5],
 'discapacidades': [1890, 125],
 'idiomas': [1461, 8],
 'numero_de_Sedes': [0, 7],
 'estado': [2404, 1],
 'prestador_de_Servicio': [0, 10],
 'propiedad_Planta_Fisica': [0, 10],
 'resguardo': [0, 2],
 'matricula_Contratada': [0, 2],
 'calendario': [0, 3],
 'internado': [2404, 1],
 'estrato_Socio_Economico': [2400, 3],
 'correo_Electronico': [428, 1962]}

16. Realiza una copia de la data en el objeto "data_bis" para no modificar la data original y completa los valores faltantes de la columna "modelos_Educativos" con el valor del registro previo

In [142]:
data_bis = data.copy()
data_bis["modelos_Educativos"] = data_bis.modelos_Educativos.ffill()
data_bis

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

In [144]:
data_bis.isnull().sum()

año                             0
secretaria                      0
nombreestablecimiento           0
zona                            0
direccion                       0
telefono                       62
nombre_Rector                   0
tipo_Establecimiento            0
etnias                       2333
sector                       2404
genero                       2404
niveles                        16
jornadas                       13
caracter                     2404
especialidad                 1110
grados                         16
modelos_Educativos              0
capacidades_Excepcionales    2394
discapacidades               1890
idiomas                      1461
numero_de_Sedes                 0
estado                       2404
prestador_de_Servicio           0
propiedad_Planta_Fisica         0
resguardo                       0
matricula_Contratada            0
calendario                      0
internado                    2404
estrato_Socio_Economico      2400
correo_Electronico            428
dtype: int64

17. Realiza una copia de la data en el objeto "data_bis" para no modificar la data original y completa los valores faltantes de la columna "jornadas" con el valor más frecuente de dicha columna

In [154]:
data_bis = data.copy()

valor_frecuente = data.jornadas.mode()[0]

data_bis['jornadas'] = data_bis.jornadas.fillna(valor_frecuente)
data_bis.isnull().sum()
#data.jornadas.value_counts().index[0]

año                             0
secretaria                      0
nombreestablecimiento           0
zona                            0
direccion                       0
telefono                       62
nombre_Rector                   0
tipo_Establecimiento            0
etnias                       2333
sector                       2404
genero                       2404
niveles                        16
jornadas                        0
caracter                     2404
especialidad                 1110
grados                         16
modelos_Educativos             38
capacidades_Excepcionales    2394
discapacidades               1890
idiomas                      1461
numero_de_Sedes                 0
estado                       2404
prestador_de_Servicio           0
propiedad_Planta_Fisica         0
resguardo                       0
matricula_Contratada            0
calendario                      0
internado                    2404
estrato_Socio_Economico      2400
correo_Electronico            428
dtype: int64

18. Filtrar la tabla para mostrar los registros de zona "URBANA"

In [157]:
filtro = data.zona == 'URBANA'
data.loc[filtro,:]

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

In [159]:
data.query('zona == "URBANA"')

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399,2016,BOGOTA,COL LOS ANGELES DE HELVETIA ...,URBANA,KR 42 22 04,2699000,TATIANA GARNICA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2400,2016,BOGOTA,INST MODERNO EL LIBANO,URBANA,KR 89 B 47 A 02 SUR,4524437,MYRIAM MERCEDES FIGUEROA ENRIQUEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2401,2016,BOGOTA,LIC INF EL MUNDO DEL NIÑO FELIZ ...,URBANA,CLL. 32 NO.118-26,2989793,ELIANA SANABRIA AGUILAR,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
2402,2016,BOGOTA,LIC PSICOPEDAG ENGATIVA ...,URBANA,KR 125 61 32,4336212,PILAR PALACIOS DE LEON,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,NaN
2403,2016,BOGOTA,COL UNID RESIDENCIAL COLSEGUROS ...,URBANA,KR 30 22 A 08 IN 12 TO 2,2698471 / 2685245 / 2446243 ...,MARIA ELVINIA GARCIA CORTES,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN

19. Filtrar la tabla para mostrar los registros que no sean de calendario "A" y tengan menos de 5 sedes o por lo menos más de 1

In [162]:
data.query("calendario != 'A' and numero_de_Sedes >= 1 and numero_de_Sedes < 5")

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
5,2016,BOGOTA,GIMN LA ARBOLEDA ...,URBANA,KR 32 184 23,6690107 -- 5101476 -- 5109824,MARTHA ISABELA FRANCO ALBIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@gimnasiolaarboleda.edu.co
13,2016,BOGOTA,GIMNASIO SANTA ANA ...,URBANA,CL 195 53 15,6746060,MARTA ELENA MEJIA DE ARBELAEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,FUNDACION O CORPORACIONES,FUNDACION O CORPORACIONES,NO APLICA,NO,B,NaN,NaN,administracion@gimnasiosantaana.edu.co comunic...
17,2016,BOGOTA,PREESC MC MILLAN LTDA ...,URBANA,CL 127 B 20 56,2748173,RAMIRO GARCES ARCILA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,administracion@mcmillan.edu.co
39,2016,BOGOTA,GIMNASIO AMIGUITOS DEL MUNDO,URBANA,CL 29 34 33,2445559,NIDIA LEONOR ROMERO SUANCHA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,amiguitosmundo@hotmail.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2269,2016,BOGOTA,GIMN INFANTIL ...,URBANA,CLL. 125 NO.53-13,2714776 / 2264642 ...,CLEMENCIA MEJIA ARANGO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,NaN
2290,2016,BOGOTA,COLEGIO SUPERIOR SAN CRISTOBAL,URBANA,CL 39 SUR 6 34 ESTE,NaN,ADRIANA CORREA MANTILLA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,OTRO,NaN,NaN,NaN
2350,2016,BOGOTA,INSTITUTO CAMARGO LEON,URBANA,KR 40 29 A 70 SUR,2028254,JAIME ARQUIMEDES CAMARGO MOLINA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,OTRO,NaN,NaN,NaN
2357,2016,BOGOTA,JARD INF PLATERO Y YO ...,URBANA,KR 68 178 56,6716387,TULIA GOMEZ DE CRUMP,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,NaN
2390,2016,BOGOTA,COL LA COLINA ...,URBANA,KR 68 145 80,6828417 / 6837770 / 6804438 ...,MARIA CLAUDIA MENDOZA,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,NaN

20. Filtrar la tabla para mostrar los registros que no tenga nulo la columna "niveles" y que no sea un registro que se encuentre posterior a la mitad de la tabla

In [171]:
mitad_tabla = int(data.shape[0] / 2)

data.iloc[0:mitad_tabla,:].dropna( subset = 'niveles')

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2016,BOGOTA,TANDEM,URBANA,KR 14 B 106 40,7577154,LAURA MARIANA SAMPER TERNET,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,SOCIEDAD,AFILADOR-CAMPOALEGRE,NO,A,NaN,NaN,info@tandem.com.co
1198,2016,BOGOTA,INST EL INGENIOSO HIDALGO ...,URBANA,CL 89 SUR 3 C 16 ESTE,7620923 -- 7629142,FABIO ERNESTO PEDRAZA CORREDOR,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,ingeniosohi@hotmail.com
1199,2016,BOGOTA,INST JERUSALEN ...,URBANA,KR 46 59 C 59 SUR,7178086,ALBEIRO SOACHA TABORDA,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,injerusalen@hotmail.com
1200,2016,BOGOTA,COLEGIO DE CULTURA POPULAR (IED),URBANA,KR 51 16 64 SUR,2028884,ROSA MARIA BAUTISTA VERGARA,INSTITUCION EDUCATIVA,NaN,NaN,...,3,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,innaldeculturapopu16@redp.edu.co
1201,2016,BOGOTA,COLEGIO FEMENINO LORENCITA VILLEGAS DE SANTOS ...,URBANA,KR 52 76 63,2407282,MARIA VICTORIA CASTRO JIMENEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,3,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,innalfemlorencitav12@redp.edu.co

In [175]:
data.iloc[0:mitad_tabla,:].query('niveles.notnull()')

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,GIMN NUEVO SIDAUTO ...,URBANA,KR 90 A 91 96,4366460 /2521545,LUZ ELENA GARZON,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,1ºugimna@hotmail.com 1ºedugimna@hotmail.com ...
1,2016,BOGOTA,JARD INF LA CASITA DE CHENANO ...,URBANA,AV LAS AMERICAS 69 B 59,4177828,SOLANYI XIMENA FLORIAN CAMPOS,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academchenano@gmail.com
2,2016,BOGOTA,ACADEMIA REAL PARA NIÑOS,URBANA,CL 42 A 87 I 10 SUR,4063716,YENNI MARCELA ROZO GARCIA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,academiareal2005@hotmail.com
3,2016,BOGOTA,COL BILING RICHMOND ...,URBANA,KR 53 222 76,6763865 -- 6763864 -- 6763866 -- 6763836 -- 67...,DIEGO FERNANDO SANCHEZ HURTADO,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,B,NaN,NaN,academica@cbr.edu.co --rectoria@cbr.edu.co
4,2016,BOGOTA,COL COOP MONSEÑOR ISMAEL PERDOMO ...,URBANA,DG 62 G SUR 72 A 41,7764491 -- 7805045 -- 7784737,TULIO RAFAEL DE LA HOZ AMARIS,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COOPERATIVO,COOPERATIVO,NO APLICA,NO,A,NaN,NaN,academicacoop@etb.net.co
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2016,BOGOTA,TANDEM,URBANA,KR 14 B 106 40,7577154,LAURA MARIANA SAMPER TERNET,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,SOCIEDAD,AFILADOR-CAMPOALEGRE,NO,A,NaN,NaN,info@tandem.com.co
1198,2016,BOGOTA,INST EL INGENIOSO HIDALGO ...,URBANA,CL 89 SUR 3 C 16 ESTE,7620923 -- 7629142,FABIO ERNESTO PEDRAZA CORREDOR,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,ingeniosohi@hotmail.com
1199,2016,BOGOTA,INST JERUSALEN ...,URBANA,KR 46 59 C 59 SUR,7178086,ALBEIRO SOACHA TABORDA,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,SI,A,NaN,NaN,injerusalen@hotmail.com
1200,2016,BOGOTA,COLEGIO DE CULTURA POPULAR (IED),URBANA,KR 51 16 64 SUR,2028884,ROSA MARIA BAUTISTA VERGARA,INSTITUCION EDUCATIVA,NaN,NaN,...,3,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,innaldeculturapopu16@redp.edu.co
1201,2016,BOGOTA,COLEGIO FEMENINO LORENCITA VILLEGAS DE SANTOS ...,URBANA,KR 52 76 63,2407282,MARIA VICTORIA CASTRO JIMENEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,3,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,innalfemlorencitav12@redp.edu.co

In [48]:
data.iloc[:int(data.shape[0]/2),:].dropna(subset=['niveles'])
data.iloc[:int(data.shape[0]/2),:].query('niveles.notnull()')

,año,secretaria,nombreestablecimiento,zona,direccion,telefono,nombre_Rector,tipo_Establecimiento,etnias,sector,...,numero_de_Sedes,estado,prestador_de_Servicio,propiedad_Planta_Fisica,resguardo,matricula_Contratada,calendario,internado,estrato_Socio_Economico,correo_Electronico
0,2016,BOGOTA,INST DE BTO TEC COMERCIAL PITAGORAS ...,URBANA,KR 5 11 67,5665677 / 3429092,YOLANDA ARIAS CRUZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,pitagoras@pitagoras.edu.co
1,2016,BOGOTA,GIMNASIO INFANTIL FEDERICO FROEBEL,URBANA,CL 32 SUR 52 A 54,7100349,SANDRA MILENA MENDEZ,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,gimfedebel@hotmail.com
2,2016,BOGOTA,GIMNASIO INFANTIL LOS NIÑOS DEL MAÑANA,URBANA,CL 134 D 47 27,6010350,CLAUDIA BOCACHICA SAENZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,claudialindenibocachica@hotmail.com
3,2016,BOGOTA,COLEGIO FRANCISCO PRIMERO S.S. (IED),URBANA,KR 28 63 64,2126019 -- 2481271,JOSE CUSTODIO GALARZA MORENO,INSTITUCION EDUCATIVA,NaN,NaN,...,4,NaN,OFICIAL,OFICIAL,NO APLICA,NO,A,NaN,NaN,cedalemania12@redp.edu.co
4,2016,BOGOTA,COL SAN JUAN VIANETH ...,URBANA,KR 2 C 3 18 SUR,2804738 -- 4714934,GLORIA ESPERANZA CHUQUIN LAISECA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegiosanjuanviateh@hotmail.com -- colegiosan...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1197,2016,BOGOTA,LIC PEDAG LOS JILGUEROS ...,URBANA,DG 6 B 78 A 50,2929884 / 2927621 ...,MAGDALENA CRUZ NAVARRO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,liceojilgueros@hotmail.com
1198,2016,BOGOTA,COLEGIO CAMPESTRE LOS PINOS,URBANA,CL 64 113 A 94,4336427,LUZ EMILIA MOLANO BEJARANO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colegiopinos@hotmail.com
1199,2016,BOGOTA,GIMN PSICOPEDAG GENESIS ...,URBANA,CR. 87 NO.54-56 SUR,4506119,GLADYS FETECUA,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,NaN
1200,2016,BOGOTA,COL NSTRA SRA DE LA SALINA ...,URBANA,CLL. 71A NO.92-04,2527363,NANCY HERRERA CUERVO,CENTRO EDUCATIVO,NaN,NaN,...,1,NaN,PERSONA NATURAL,PERSONA NATURAL,NO APLICA,NO,A,NaN,NaN,colnssalinas@hotmail.com ...
1201,2016,BOGOTA,COL DE NSTRA SRA DEL ROSARIO ...,URBANA,CL 4 57 49,4202307 -- 2606329 -- 5637411,SOR NOHORA YOLANDA RODRIGUEZ GOMEZ,INSTITUCION EDUCATIVA,NaN,NaN,...,1,NaN,COMUNIDAD RELIGIOSA,COMUNIDAD RELIGIOSA,NO APLICA,NO,A,NaN,NaN,rectoria@colrosariobogota.edu.co